[access]
	inheritFrom = All-Projects
[submit]
[access "refs/*"]
	owner = group user/artifex1990
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/artifex1990
	label-Verified = -1..+1 group user/artifex1990
	push = group user/artifex1990
	read = group user/artifex1990
	rebase = group user/artifex1990
	removeReviewer = group user/artifex1990
	submit = group user/artifex1990
[access "refs/heads/*"]
	create = group user/artifex1990
	push = +force group user/artifex1990
	pushMerge = group user/artifex1990
	read = group user/artifex1990
[access "refs/tags/*"]
	push = group user/artifex1990
	push = +force group user/artifex1990
